[Unit]

Description=IOP Server main service
After=network-online.target

[Service]

Type=simple

ExecStart=/home/auriane/Documents/IoP/Internet-of-Plants/software/server/start.sh
ExecStop=/bin/killall pd
Restart=on-failure

[Install]
WantedBy=multi-user.target
